.main {
  margin: unset;
  padding: unset;
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  top: 48px;
  left: 48px;
  width: calc(100% - 48px);
  display: grid;
  grid-template-columns: 1fr 4fr 10fr;
  align-items: center;
}

.hr {
  z-index: 15;
  height: 1px;
  margin-left: 50px;
  margin-right: -50px;
  opacity: 0.2514851987361908px;
  width: 473px;
}

.nav {
  z-index: 1;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px)
}

.nav {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav >  li {
  font-family: Barlow Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  color: var(--text-white);
}

.nav > li > a {
  display: flex;
  align-items: center;
}

.nav >li > a > span {
  font-family: Barlow Condensed;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  text-align: left;
  margin-right: 10px;
}

.hamburgerMenu{
  display: none;
}





@media (max-width:1024px){
.hr{
  display: none;
}
.header {
  position: absolute;
  top: 48px;
  left: 48px;
  width: calc(100% - 48px);
  display: grid;
  grid-template-columns: 4fr  10fr;
  align-items: center;
}
}




@media (max-width:768px){
  .nav{
    display: none;
  }
  .hamburgerMenu{
    z-index: 10;
    display: flex;
    margin-right: 48px;
  }
  .header {
    position: absolute;
    top: 21px;
    left: 40px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar{
    overflow: hidden;
  }
  .open {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    align-items: center;
    justify-content: first baseline;
    gap: 50px;
    right: 0;
    top: -21px;
    width: 290px;
    height: 100dvh;
    overflow-y: hidden;
       background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    justify-content: start;
  padding-top: 90px;
  padding-left: 70px;
  align-items: start;
  }
  
  .hamburgerMenu {
    display: block;
    cursor: pointer;
  }

  
}
